@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
p {
    font-size: 12px;
    line-height: 1.5;
    color: #1a202c;
    margin-top: 2.5em;
    margin-bottom: 24px;
    max-width: 100%;
    text-align: center;
}

li {
    font-size: 12px;
    list-style: none;
    line-height: 2;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff; 
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

h1 h2 h3 h4 h5 h6 {
    font-weight: 800;
    line-height: 1.5;
    //font-family: 'lato', serif;
}
h1 {
    font-size: 2em;
    color: black;
}
h3 {
    //color: purple;
    padding-bottom: 1.5em;
}
h2 {
    font-size: 1.5em;
    font-weight: 800;
    color: #243e63;
    padding-bottom: 1.5em;
}
h4 {
    //color: #243e63;
    padding-top: 1em;
    font: 'Manrope';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #1a202c;
    padding-bottom: 1em;
}


/* special text format */
#quality h1, #steps h1,
.values__content h1,
#pricing h1,
#testimonials h1{
    color: #243e63;
    font-size: 48px;
}


/* large graphics size limits */
.quality__image img, .values__image img,
.steps__image img, .header__image img,
.testimonials__image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Button styleing */
#field__button,
.quality__button,
.values__button,
.pricing__button,
.start__button {
    background: #6415ff;
    color: white;
    border: 1px solid #6415ff;
    padding: 12px 19px;
    align-items: right;
    border-radius: 50px;
    border: none;
    max-width: 150px;
    font-weight:500;
    font-size: 12px;
    cursor: pointer;
}

    #field__button:hover,
    .quality__button:hover,
    .values__button:hover,
    .pricing__button:hover,
    .start__button:hover {
        background: #243e63;
        color: white;
        transition: all 300ms ease;
    }

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.nav__logo:hover {
    cursor: pointer;
}
.nav__logo--text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: black;
}


#logo {
    width: 38px;
    height: 38px;
    margin-right: 8px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 6px 12px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.modal__links--row {
    font-size: 14px;
}


.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

.large__menu .modal__link {
    padding: 8px 10px;
    font-size: 12px;
    cursor: pointer;
}

.large__menu .modal__link:hover {
    border-bottom: 2px solid #6415ff;
    transition: opacity 300ms ease;
}

.large__menu .modal__link--primary:hover {
    background: #243e63;
    color: #f7fafc;
    border-radius: 500px;
    border: none;
    transition: all 300ms ease;
}
.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--black:after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}


/* 

HEADER / ABOUT US ↓

*/
header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__content {
    max-width: 38%;
    padding-bottom: 5em;
}
.header__content p {
    text-align: left;
}
.header__image {
    display: flex;  
    max-width: 100%;
}
.header__img {
    width: 100%;
    height: auto;
    padding: 10px;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-top: 20%;
    max-width: 100%;
}

/* Email form css*/
.header__form {
    max-width: 100%;
    height: 2emx;
    background: none;
    border: 1px solid lightgrey;
    padding: 8px 2px;
    border-radius: 50px;
    max-width: 70%;
}
#field__input {
    width: 60%;
    background: none;
    border:none;
    padding: 8px 19px;
}
#field__input:focus {
    outline: none;
}

/*end*/

/* 

FEATURES ↓

*/
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


#features {
    position: relative;
    //border: 1px solid lightgrey;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
  //  border: 1px solid lightgrey;
}
.col-1-of-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //border: 1px solid lightgrey;
}
.features__feature {
    display: flex;
    align-items: center;
    //border: 1px solid lightgrey;
    width: calc(100%/3);
}
.features__icon {
    margin: 0;
    padding-top: 10px;
    //border: 1px solid #6415ff;
    height: 100%;    
}

.features__text {
    margin: 0;
    padding-right: 10px;
    max-width: 100%;
   // border: 1px solid #6415ff;
    height: 100%;
}
.features__text p {
    text-align: left;
    margin-top: 0.5em;
}
 .features__image {
    //float: left;
     margin-right: 16px;
     padding: 10px;
     border: 1px solid lightgrey;
     border-radius: 50%;
 }
 .row__narrow p {
     max-width: 50%;
 }
     
 /* 
QUALITY WORK ↓
*/
 #quality .row {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.quality__content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 28px;
    height: 100%;
    //border: 1px solid lightgrey;
}
.quality__content p {
    text-align: justify;
}
 .quality__image {
     display: flex;   
     max-width: 50%;
     height: auto;
 }   
 


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__content {
    display: flex;
    flex-direction: column;
}
.steps__content h3 {
    color: #243e63;
}
.steps__number {
    color: #b9b2e8;
    font: 'Work Sans';
    font-size: 48px;
    font-weight: 500;
    width: 1em;
}
.steps__feature {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.steps__feature div {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
    //border: 1px solid lightgrey;
}
.steps__feature h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 2.5;
    padding: 0;
    //border: 1px solid lightgrey;
}
.steps__feature p {
    text-align:left;
    padding: 0;
    font-size: 14px;
    vertical-align: top;
}
#steps__text {
    display: flex;
    flex-direction: column;
}


/*
VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 28px;
    height: 100%;
    //border: 1px solid #6415ff;
}
.values__feature {
    display: flex;
    flex-direction: row;
}
#values--icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
   // border: 1px solid #6415ff;
}
#values--text {
    padding: 8px;
}

.values__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
   // border: 1px solid #6415ff;
} 

.values__item h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: #1a202c;
    width: 60%;
    padding-right: 1em;
}

    .values__icon {
        //display: flex;
        margin: 0;
        padding: 8px;
        border-radius: 50px;
        //border: 1px solid #6415ff;
        height: 100%
    }

        .values__icon {
            height: 38px;
            width: 38px;
        }

    #green {
        background: lightgreen;
    }

    #red {
        background: lightcoral;
    }


    .values__image {
        display: flex;
        max-width: 50%;
        height: auto;
    }
    /*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
   // border: 1px solid #6415ff;
}

#pricing p {
    text-align: center;
    //font-size: 18px;
    max-width: 50%;
    //border: 1px solid #6415ff;
}
.pricing__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 70%;
   // border: 1px solid #6415ff;
}
.pricing__card--header {
    padding: 0;
}

    .pricing__card--header h2 {
        border: 0;
        padding: 0;
       // text-align: center;
       // border: 1px solid lightgrey;
    }


.pricing__card--sub {
    width: 5px%;
    padding: 2;
    border: 0;
    text-align: center;
    font-size: 12px;
    //border: 1px solid lightgrey;
    padding-bottom: 16px;
}
.pricing__card--body ul {
    padding-top: 2em;
    padding-bottom:2em;
}

    .pricing__card--body li {
        list-style: none;
        margin: 0;
    }

    .pricing__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100%/3);
        padding: 16px;
        border: 1px solid lightgrey;
        border-radius: 8px;
        background-color: #fef7f7;
        width: 250px;
    }

    #per {
        border-top: 5px solid #53f2f2;
    }

        #per:hover {
            background-color: #53f2f2;
            color: white;
            //opacity: 0.5;
            transition: all 300ms ease;
        }

    #bus {
        border-top: 5px solid #6415ffbe;
    }

        #bus:hover {
            background-color: #6415ffbe;
            color: white;
            //opacity: 0.5;
            transition: all 300ms ease;
        }

    #ent {
        border-top: 5px solid #ed2a2ac2;
    }

        #ent:hover {
            background-color: #ed2a2ac2;
            color: white;
            //opacity: 0.5;
            transition: all 300ms ease;
        }
    /* 

TESTIMONIALS ↓

*/


    #testimonials .row {
        display: flex;
    }
.testimonials__image {
    display: flex;
    max-width: 50%;
    height: auto;
}   
    .testimonials__content {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        display: flex;
        height: auto;
        padding: 28px;
    }
    .testimonials__content h3 {
        padding: 0;
    }
    .testimonials__content p {
        font-size: 14px;
        padding: 1;
        text-align: justify;
    }
.checked {
    color: orange;
}
.testimonials__author {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
    float: left;
}
    .testimonials__author img {
        width: 100%;
        /* Improving my own picture */
        transform: scale(1.2);
        padding-top: 8px;
    }
.testimonials__author--name {
    padding: 0;
    padding-top: 1em;
    padding-left: 7em;
    //border: 1px solid lightgrey;
}
.testimonials__author--name h4, p {
    padding: 0;
}

/* 

START / CALL TO ACTION ↓

*/
#start .row {
    display: flex;
    position: relative;
    overflow: hidden;
}
.start__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(100, 21, 255);
    padding: 3em;
   // border: 1px solid lightgrey;
}
#start__text h2 {
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: 700;
    line-height: 1.5;
    width: 100%;
    //padding-right: 2em;
    // border: 1px solid lightgrey;
}
#start__text {
    padding: 0;
    width: 60%;
    padding-left: 5em;
    // border: 1px solid lightgrey;
}
.start__content div {
    display: flex;
    width: 50%;
    height: auto;
    padding: 2em;
    // border: 1px solid lightgrey;
}
#start__buttons {
    display: flex;
    justify-content: space-between;
    padding: 3em 5em;
    // border: 1px solid white;
}
#start__button--start {
    background-color: coral;
}
    #start__button--start:hover {
        border: 1px solid white;
        background: #243e63;
        color: white;
        transition: all 300ms ease;
    }
#start__button--contact {
    border: 1px solid white;
}
        /* 

FOOTER ↓
        *
*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}
.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //border: 1px solid lightgrey;
}
.footer__menu li{
    color: white;
    list-style: none;
    padding: 0;
}
.footer__content li:hover {
    cursor: pointer;
}
.footer__menu h4 {
    color: white;
}
.footer__copy h5 {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 1em;
    font-size: 13px;
    text-align: center; 
    width: 100%;
}

/* 
MOBILE RESPONSIVENESS ↓
*/
        @media(max-width: 1280px) {
            header .row {
                align-items: flex-end;
            }

            .large__menu {
                display: visible;
                flex: inherit;
                flex-direction: row;
                justify-content: space-between;
            }

            .modal__link {
                text-decoration: none;
                position: relative;
                transition: opacity 300ms ease;
                padding: 0 10px;
            }
        }

        @media (max-width: 1024px) {

            .btn__menu {
                display: block;
            }

            .large__menu {
                display: hidden;
                visibility: hidden;
            }

            header .row {
                flex-direction: column;
                align-items: center;
            }

            footer {
                padding: 80px 32px;
            }
        }

        @media(max-width: 768px) {
            #quality .row,
            #values .row {
                flex-direction: column-reverse;
            }

            #steps .row,
            #testimonials .row,
            .col-1-of-4,
            #quality .row,
            .values__feature,
            .pricing__cards,
            .start__content,.footer__content
            {
                flex-direction: column;
                align-items: center;
                justify-items: flex-end;
            }

            #start__text, #start__buttons {
                width: 100%;
            }


            .values__content {
                align-items: flex-start;
                max-width: 100%;
                padding: 0;
            }

            .large__menu {
                display: hidden;
                visibility: hidden;
            }

            #pricing .row {
                margin-top: 40px;
            }

            .col-1-of-4 {
                padding-left: 0;
                max-width: 100%;
                //border: 1px solid #6415ff;
            }

            .features__feature {
                flex-direction: column;
                align-items: center;
                //border: 1px solid #6415ff;
                width: 100%;
                padding: 1em;
            }

            .features__text {
                padding-right: 0;
                text-align: center;
            }

            #quality .container {
                padding: 0;
            }

            .quality__content, .quality__image,
            .header__content, .header__image, .header__img,
            .values__image, #pricing p,.testimonials__content, .testimonials__image,
            #start__text, #start__buttons {
                max-width: 100%;
                padding: 0;
            }

            @media(max-width: 640px) {
                .row {
                    flex-direction: column;
                }

                .container {
                    padding: 20px 0
                }

                .nav__logo {
                    margin: 8px 0;
                    padding-bottom: 4px;
                    width: 20%;
                }

                .large__menu {
                    display: hidden;
                    visibility: hidden;
                }

                main {
                    margin-bottom: 80px;
                }
            }
