@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

h1 {
    font-size: 36x;
    font-weight: 800;
    line-height: 1.5;
    color: black;
    font-family: 'lato', serif;
}
/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}
.nav__logo:hover {
    cursor: pointer;
}
.nav__logo--text {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    color: #6415ff;
}


#logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 6px 12px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

.large__menu .modal__link {
    padding: 8px 10px;
    cursor: pointer;
}

    .large__menu .modal__link:hover {
        border-bottom: 2px solid #6415ff;
        transition: opacity 300ms ease;
    }

.large__menu .modal__link--primary:hover {
    background: #243e63;
    color: #f7fafc;
    border-radius: 500px;
    border: none;
    transition: all 300ms ease;
}
.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--black:after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__content {
    max-width: 50%;
    padding-bottom: 5em;
}

.header__image {
    display: flex;  
    max-width: 100%;
}
#header__img {
    width: 50%;
}



/* 

FEATURES ↓

*/


#features {
    position: relative;
}

    #features .row__narrow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }

    .large__menu {
        display: visible;
        flex: inherit;
        flex-direction: row;
        justify-content: space-between;
    }

    .modal__link {
        text-decoration: none;
        position: relative;
        transition: opacity 300ms ease;
        padding: 0 10px;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    .large__menu {
        display: hidden;
        visibility: hidden;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }

    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    .large__menu {
        display: hidden;
        visibility: hidden; 
    }

    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .row {
        flex-direction: column;
    }
    
    .container {
        padding: 80px 0;
    }

    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
        width: 20%;
    }
    .large__menu {
        display: hidden;
        visibility: hidden; 
    }

    main {
        margin-bottom: 80px;
    }
}
